* {
  font-family: "Barlow Condensed", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background-color: #020617;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  width: 100%;
  padding: 20px 28px;
  display: flex;
  gap: 8px;
  align-items: center;

  & h2 {
    margin: 0;
    line-height: 1;
  }

  & #new-chat-btn:hover {
    background-color: #1e293b;
  }
  & #new-chat-btn {
    background-color: transparent;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    height: min-content;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    & [data-lucide] {
      stroke: white;
      vertical-align: middle;
      width: 22px;
      height: 22px;
    }
  }
}

h1 {
  font-size: 45px;
  margin: 0;
}

body > main {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;

  max-width: 800px;
  width: 100%;
}

.info {
  text-align: center;
  place-self: center;

  & p {
    align-items: center;
    max-width: 500px;
    text-align: center;
    color: #64748b;
    font-size: 20px;
  }
}

.chat-container {
  display: grid;
  align-items: end;
  grid-template-rows: 1fr auto;
  padding-bottom: 24px;
}

.chat-box.message {
  height: 75dvh;
}

.chat-box {
  overflow-y: auto;
  margin-bottom: 10px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge antigo */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
  }

  & .message {
    margin: 5px 0;
    background-color: #1e293b;
    color: #ffffff;
    border-radius: 24px;
    border-bottom-right-radius: 8px;
    border: 1px solid #334155;
    padding: 12px 16px;
    font-size: 18px;

    & p {
      white-space: pre-line;
    }
  }

  .user {
    align-self: flex-end;
  }

  .bot {
    background-color: transparent;
    border: none;
    color: #cbd5e1;
  }
}

.input-box {
  padding: 10px;
  padding-left: 24px;
  border-radius: 36px;
  background-color: #1e293b;
  border: 1px solid #334155;
  color: white;
  display: flex;
}

.user-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
}

#send-button {
  margin-left: 5px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #cbd5e1;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.reference-link {
  background-color: #475569;
  color: #fff;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
  width: 18px;
  height: 18px;
  text-decoration: none;
  font-size: 12px;

  &:hover {
    background-color: #334155;
  }
}

.references-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;

  & > li {
    background-color: #334155;
    padding: 12px 16px;
    border-radius: 18px;

    & > div {
      display: flex;
      justify-content: space-between;

      & > a > [data-lucide] {
        width: 20px;
        height: 20px;
        stroke: #cbd5e1;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    & > h3 {
      font-size: 18px;
    }

    & > p {
      font-size: 16px;
      white-space: none;
    }
  }
}

[data-lucide] {
  display: block;
  width: 20px;
  height: 20px;
  stroke: black; /* cor do ícone */
  stroke-width: 2.5; /* espessura da linha */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
